@model KantanBlog001.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommentId" />
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <input asp-for="CommentText" class="form-control" />
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_Time" class="control-label"></label>
                <input asp-for="Create_Time" class="form-control" />
                <span asp-validation-for="Create_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_Time" class="control-label"></label>
                <input asp-for="Update_Time" class="form-control" />
                <span asp-validation-for="Update_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
