@model IEnumerable<KantanBlog001.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center;">
    <h1>コメント一覧</h1>
</div>


@foreach (var item in Model) {

    <div class="come-itiran">
        <div>記事タイトル：@Html.DisplayFor(modelItem => item.Article.Title)</div>
        <div class="come-itiran2">作成日：@Html.DisplayFor(modelItem => item.Create_Time)</div>
        <div>
なまえ：@Html.DisplayFor(modelItem => item.UserName)
            <div class="balloon"><p>@Html.DisplayFor(modelItem => item.CommentText)</p></div>
        </div>
    </div>

}

