#除外ファイル 一覧

.vs/
.bin/
.obj/

.obj/*

.bin/Debug/*
.obj/Debug/*

obj/Debug/

bin/Debug/net8.0/KantanBlog001.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/KantanBlog001.csproj.nuget.dgspec.json
obj/KantanBlog001.csproj.nuget.g.props

*.dll
*.exe


