#除外ファイル 一覧

.vs/
bin/
obj/

obj/*
bin/*

bin/Debug/*
obj/Debug/*

bin/Release/*
obj/Release/*

bin/Debug/net8.0/
bin/Debug/net8.0/*
 
bin/Debug/net8.0/*

bin/Debug/net8.0/KantanBlog001.pdb
bin/Debug/net8.0/KantanBlog001.staticwebassets.runtime.json


obj/project.assets.json
obj/project.nuget.cache
obj/KantanBlog001.csproj.nuget.dgspec.json
obj/KantanBlog001.csproj.nuget.g.props

node_modules/*

package-lock.json
package.json

*.dll
*.exe


