@model KantanBlog001.Models.Article

@{
    ViewData["Title"] = "ArticleEdit";
}

<h1 class="tcreate">日記修正画面</h1>

@* <h4>Article</h4> *@
<hr/>
<div>
    <div class="tcreate">
        <form asp-action="ArticleEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>タイトル</p>
                <input asp-for="Title" placeholder="タイトル" />
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <p>カテゴリー</p>
                <input asp-for="Category" placeholder="カテゴリー" />
                <span asp-validation-for="Category"></span>
            </div>
            <div>
                <p>本文</p>
                <textarea asp-for="Text" placeholder="本文"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
    
            <div>
                <span><input type="submit" value="修正" class="input-style2" /></span>
                <span><a asp-action="BloggerArticleList" class="input-style3">リストへ戻る</a></span>
                <input type="hidden" asp-for="ArticleId" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
