@{
    ViewData["Title"] = "Home Page";
}
<center style="margin-bottom:10px;">
    <div id="awan" class="type-js headline:">
        <h1 class="text-js">ようこそ！かんたんブログへ！</h1>
    </div>
</center>

<div class="kantanhome">
    <a href="../Articles/ArticleCreate" class="btnchangeradius">日記を書く！</a>
    <a href="../Articles/BloggerArticleList" class="btnchangeradius">日記リスト！</a>
    <a asp-controller="Comment" asp-action="Index" class="btnchangeradius">コメント一覧！</a>
    <a href="../Articles/ArticleView" class="btnchangeradius">ブログをみる！</a>
    
</div>


