@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center;">
    <h1>ようこそ！かんたんブログへ！</h1>
</div>
<br />
<br />
<div style="display: flex; flex-direction: column; align-items: center; gap: 50px;">

    <a href="../Articles/ArticleCreate" class="btn btn-secondary btn-lg active menu-button" role="button" aria-pressed="true" style="width: 200px; height: 50px;">
        ブログ投稿
    </a>
    <a href="../Articles/" class="btn btn-secondary btn-lg active menu-button" role="button" aria-pressed="true" style="width: 450px; height: 50px;">
        ブログ一覧
    </a>
    <a href="../Articles/UserArticleList" class="btn btn-secondary btn-lg active menu-button" role="button" aria-pressed="true" style="width: 200px; height: 50px;">
        ブログを閲覧
    </a>
</div>


