@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>アカウント承認</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    まだ仮登録状態です。 【こちらをクリック】を押して、本登録を完了してください <a id="confirm-link" href="@Model.EmailConfirmationUrl">こちらをクリック</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

